.container{
    width: 100%;
    display: flex;
    flex-direction: row;

}
  
  /*-----nav--------*/
.container .navigation{
    width: 30%;
}
  
.my-profile-menu {
    padding-top: 60px;
    padding-left: 15px;
}
  
.my-profile-menu .a-profile{
    display: flex;
    flex-direction: row;
}

.my-profile-menu .a-profile .img-profile img{
    width: 48px;
    height: 48px;
    padding-left: 5px;
}

.my-profile-menu .a-profile .name-profile p{
    margin-left: 5px;
}
  
.my-profile-menu .list-detail{
    margin-top: 10px;
}

.my-profile-menu .list-detail > li{
    margin-bottom: 20px;
    width: 60%;
    cursor: pointer;
    border-radius: 5px;
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.my-profile-menu .list-detail li > a{
    display: flex;
    flex-direction: row;
}
.list-detail .icon{
    height: 48px;
}
  
.list-detail .title{
    margin-left: 15px;
}
  
  
.my-profile-menu li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
  /*--------main------------*/
.container .main{  
    width: 40%;
  
}
    /*---create post---*/
.create-post {
    margin-top: 20px;
    min-height: 120px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin-bottom: 30px;
}
  
.cp-wrapper {
    padding: 10px;
}

.cp-top{
    display: flex;
    align-items: center;
}

.cp-top .img-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.cp-top .cp-input{
    border: none;
    width: 80%;
}



.cp-wrapper .cp-hr{
    margin:20px 20px 20px 0;
    border: none;
    height: 0.5px;
    background-color: rgb(189, 173, 173);
}

.cp-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cp-bottom .left{
    display: flex;
    align-items: center;
    gap: 20px;
}


.cp-bottom .left .cp-option{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.cp-bottom .left .cp-icon{
    font-size: 18px;
    margin-right: 3px;
}
.cp-bottom .left .cp-optiontext{
    font-size: 14px;
    font-weight: 400;
}

.cp-wrapper .cp-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(18, 152, 197);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}




    /*-------------------------*/

.list-post{
     
    margin: 30px 0;
}

   /*-------post--------*/
.post{
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin-bottom: 30px;

}
.post .post-wrapper{
    padding: 10px;
}
.post-wrapper .post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.post-top .post-topLeft{
    display: flex;
    align-items: center;
}

.post-topLeft .post-profileImgae{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.post-topLeft .post-name{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;

}
.post-topLeft .post-date{
    font-size: 12px;
}
.post-wrapper .post-center{
    margin: 20px 0;

}
  
.post-center .post-centerContent{
    width: 100%;
    margin-top: 20px;
}
.post-centerContent .post-centerImage{
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

  
.post-bottom .show-interact{
    display: flex;
    align-items: center;   
    height: 40px;
    justify-content: space-between;
}
  
.post-bottom .show-interact .show-icon{
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.post-bottom .show-interact .likeIcon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    
}

.post .post-bottom .interact{
    
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: #bfc1c3 1px solid;
    border-top:  #bfc1c3 1px solid;
}
  
.post-bottom .interact .activity {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    
}
  
.post-bottom .interact .activity:hover {
    background-color: rgb(216, 196, 196);
}
.interact .activity > span{
    line-height: 20px;
    margin-left: 5px;
}

  
.list-cmt .activity-cmt{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}
  
.list-cmt .activity-cmt .content-cmt{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    margin-left:10px;
    border-radius: 20px;
    border: 1px solid lightgray;
}
.list-cmt .activity-cmt .content-cmt > input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 15px;
    margin: 5px 10px ;
}
  
.list-cmt .cmt {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
}
  
.list-cmt .cmt .content-cmt{
    display: flex;
    flex-direction: row;
}
  
.cmt .content-cmt .center-cmt{
    margin-left: 10px;
    margin-right: 10px;
}
  
.content-cmt .center-cmt .content-center{
    padding: 8px;
    border: #bfc1c3 1px solid;
    border-radius: 20px;
    background-color:#F7F7F7 ;
}
.content-cmt .center-cmt .feed-back{
    padding: 8px;
}
.content-cmt .center-cmt .feed-back span{
    padding-left: 8px;
}
  
.cmt .content-cmt .setting-cmt button{
    margin: auto;
}


   
/*=========================================*/
 

/*--------online-friend------*/
  
  
.container .right-container{
    width: 30%;
    display: flex;
    justify-content: end;
    position: fixed;
    right: 0;
}
  
.right-container .list-friend{
    width: 60%;
    margin-top: 30px;
}
.list-friend ul{
    max-height: 100vh;
    overflow-y: scroll
}
  
.list-friend li{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 50px;
    position: relative;
    border-radius: 5px;
    padding-left: 10px;
}
.avatar > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}
.name-friend{
    margin-left: 10px;
}
.name-friend > p{
    line-height: 50px;
    font-weight: 700;
}
.status{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #4fe63f;
    border: 2px solid white;
    bottom: 5px;
    left: 40px;
   
}
  
.list-friend li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.img-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c9cfd4;
    position: relative;
}
.img-profile > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}

.online {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #697077;
    display: flex;
    bottom: 2px;
    right: 2px;
}

.ellipse{
    height: 8px;
    width: 8px;
    margin: auto;
    border-radius: 50%;
    background: #4fe63f;
}