
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.container .left-container{
    width: 50%;
}
.left-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .right-container{
    width: 50%;
    background-color: #f0f2f5;
}


.right-container .login{
    margin: 150px auto;
    width: 60%;
    background-color: white;
}
.login .option{
    display: flex;
    flex-direction: row;
}
.login .option > div{
    width: 50%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border: 1px #f0f2f5 solid;
    text-align: center;
    cursor: pointer;
    display: block;
}


.login .option > div:hover{
    color: darkorange;
}
.login .option  div:focus{
    outline: none;
}


.login .form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form .input{
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #f0f2f5 ;
    border: 1px solid wheat;
}

.login .form .is-invaid{
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: #f0f2f5 ;
    border: 1px solid red;
}

.form  p{
    font-size:15px ;
    color: red; 
    margin-bottom: 5px;
    
}


input{
    width: 90%;
    height: 100%;
    background-color: #f0f2f5 ;
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
}


input:focus{
    outline: none;
}

.form .input-date{
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #f0f2f5 ;
    border: 1px solid wheat;
}

.input-date > label{
    margin-left: 20px;
}

.input-date > input{
    width: 60%;
    margin-right: 10px;
}

.form .input-sex{
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #f0f2f5 ;
    border: 1px solid wheat;
}
.input-sex > label{
    margin-left: 20px;
}
.input-sex > .sex{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;
}


.form .btn-submit{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form .btn-submit button{
    width: 150px;
    height: 30px;
    background-color: orange;
    border-radius: 15px;
    margin-bottom: 30px;
}


